---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Home - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark:bg-gray-800">
		<Header title={SITE_TITLE} />
		<main class=" max-w-[1300px] mx-auto max-sm:w-[90%]">
			<p class="main-text my-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia necessitatibus officia ad debitis asperiores? Consectetur veritatis unde iste itaque similique, numquam voluptas quis repudiandae et atque maiores amet eligendi cumque!</p>
			<p class="main-text my-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia necessitatibus officia ad debitis asperiores? Consectetur veritatis unde iste itaque similique, numquam voluptas quis repudiandae et atque maiores amet eligendi cumque!</p>
			<p class="main-text my-8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia necessitatibus officia ad debitis asperiores? Consectetur veritatis unde iste itaque similique, numquam voluptas quis repudiandae et atque maiores amet eligendi cumque!</p>
		</main>
		<Footer />
	</body>
</html>
