---
/* 
  This layout is used in pages that render markdoc content
  - pages/blog/[slug].astro
*/

// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "src/components/ScrollToTop.astro";

export interface Props {
   title: string;
   date: Date;
   readingMinutes: string;
}

const { title, date, readingMinutes } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-us", {
   year: "numeric",
   month: "short",
   day: "numeric",
});
---

<!DOCTYPE html>
<html class="theme-sleek" lang="en">
   <head>
      <!-- Global Metadata -->
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="generator" content="Blogster" />
      <Favicon />
      <slot name="meta" />
      <GoogleFont />
      <ThemeScript />
      <FontAwesome />
   </head>

   <body class=" min-h-screen max-w-3xl mx-auto px-6 sm:px-8">
      <Header />
      <main id="main">
         <div class="bg-[#3073F1] dark:bg-[#4FD2F9] progress-scroll"></div>
         <section class="blog-post prose max-w-none prose-sleek text-xl">
            <h1 class="m-0 mb-[0.25em]">{title}</h1>
            <div class="flex items-center font-semibold gap-2 mb-4">
               <time class="block text-text-muted">{formattedDate}</time>-<cite
                  class="text-xs m-0">{readingMinutes} minutes of reading.</cite
               >
            </div>
            <slot name="content" />
         </section>
      </main>

      <ScrollToTop />

      <Footer />
      <style>
         :root::-webkit-scrollbar {
            /* background-color: red; */
            display: none;
         }         
         body {
            display: grid;
            grid-template-areas:
               "header"
               "main"
               "footer";
            grid-template-rows: 5rem minmax(0, 1fr) 5rem;
            grid-template-columns: minmax(0, 1fr);
            scroll-behavior: smooth;
         }
         main {
            grid-area: main;
         }
         .progress-scroll {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            transform-origin: 0 50%;
            animation: scaleProgress auto linear;
            animation-timeline: scroll(root);
         }

         @keyframes scaleProgress {
            0% {
               transform: scaleX(0);
            }
            100% {
               transform: scaleX(1);
            }
         }
      </style>
   </body>
</html>
